olefile
numpy
cryptography
decorator
pysocks
ehforwarderbot @ git+https://github.com/blueset/ehforwarderbot.git
efb-telegram-master[tgs] @ git+https://github.com/ehForwarderBot/efb-telegram-master
efb-wechat-slave @ git+https://github.com/ehForwarderBot/efb-wechat-slave
efb-voice_recog-middleware
efb-patch-middleware